<div class="container-outer-numerator">
  <div class="container-numerator">
    <!-- Stepper Başlıkları -->
    <div class="stepper">
      <div class="step-item" [class.active]="step >= 1">1. Select Service</div>
      <div class="step-item" [class.active]="step >= 2">2. Take a Number</div>
      <div class="step-item" [class.active]="step >= 3">3. Result</div>
    </div>

    <!-- Step 1: Service Selection -->
    <div *ngIf="step === 1" class="step-content">
      <div *ngIf="step === 1" class="step-content">
        <div class="card-grid">
          <div
            class="service-card"
            *ngFor="let s of pagedServices"
            [class.disabled]="disabledCard(s)"
            (click)="selectService(s)"
          >
            <h3>{{ s.label }}</h3>
            <small *ngIf="disabledCard(s)">
              {{ s.currentNumber }} / {{ s.maxNumber }} — doldu
            </small>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pager" *ngIf="totalPages > 1">
        <button (click)="prevPage()" [disabled]="page === 1">‹ Prev</button>
        <ng-container *ngFor="let p of [].constructor(totalPages); index as i">
          <button (click)="goTo(i + 1)" [class.active]="page === i + 1">
            {{ i + 1 }}
          </button>
        </ng-container>
        <button (click)="nextPage()" [disabled]="page === totalPages">
          Next ›
        </button>
      </div>
    </div>

    <!-- Step 2: Numara Alma -->
    <div *ngIf="step === 2" class="step-content">
      <button
        class="take-number-btn"
        (click)="assignNumber()"
        [disabled]="!!errorMessage"
      >
        Take the Number
      </button>
      <button class="btn-prev" (click)="prevStep()">Back</button>
    </div>
    <div class="error-popup" *ngIf="showError && errorMessage">
      {{ errorMessage }}
    </div>

    <!-- Step 3: Sonuç -->
    <div *ngIf="step === 3 && ticket" class="step-content">
      <div class="result">
        Your Number is:
        <strong class="taken-number">{{ ticket.number }}</strong>
        <p><strong>Service:</strong> {{ ticket.serviceLabel }}</p>
        <p><strong>Taken At:</strong> {{ ticket.takenAt | date : "short" }}</p>
        <p><strong>Assigned Agent:</strong> {{ ticket.assignedAgentId }}</p>
        <p>
          <strong>Assigned At:</strong> {{ ticket.assignedAt | date : "short" }}
        </p>
        <p><strong>Status:</strong> {{ ticket.assignmentStatus }}</p>
        <button class="btn-cancel" (click)="cancelTicket()">
          Cancel Ticket
        </button>
      </div>

      <button class="btn-prev" (click)="firstStep()">New Operation</button>
    </div>
  </div>
</div>
