.container-outer-numerator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-numerator{
    display: flex;
    background-color: var(--light-gray);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 50vw;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@media (max-width:768px) {
    .container-numerator{
        width: 80vw;
        height: 75vh;
    }
}
.container-numerator p{
    background-color: var(--tertiary-color);
    font-size: 24px;
    padding: 12px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.title-numerator{
    font-size: 36px !important;
    background-color: var(--secondary-color);
    padding: 12px;
    color: var(--light-gray);
    border-radius: 12px;
    width: 90%;
    text-align: center;
}
.take-number-btn{
    background-color: var(--primary-color);
    color: var(--light-gray);
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    width: 224px !important;
    text-align: center;
}
.take-number-btn:hover{
    background-color: var(--secondary-color);
}