<div *ngIf="loading" class="p-2">Loading...</div>
<div *ngIf="error" class="p-2 text-danger">{{ error }}</div>

<div class="table-responsive" *ngIf="!loading && !error">
  <table
    class="table table-sm table-striped table-bordered table-hover"
    [ngClass]="{ 'table-dark': currentTheme === 'dark' }"
  >
    <thead>
      <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Priority</th>
        <th>User Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users; let i = index">
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>
          <input
            type="number"
            min="1"
            max="5"
            step="1"
            [(ngModel)]="u.priorityScore"
            [ngModelOptions]="{ standalone: true }"
            class="form-control form-control-sm border-0 shadow-none"
          />
        </td>
        <td>{{ u.role }}</td>
        <td>
          <button
            class="btn btn-sm btn-save"
            (click)="updatePriority(u.id, u.priorityScore)"
          >
            Save
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!users.length" class="p-2">Kayıt bulunamadı.</div>
</div>
