.profile-statistics-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  padding: 30px;
}
.statistics-summary h3 {
  color: var(--tertiary-color);
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "total approved rejected pending";
  gap: 6px;
}
.stats-grid * {
  color: var(--text-color);
}
.stat-total {
  grid-area: total;
}
.stat-approved {
  grid-area: approved;
  border: 2px solid green !important;
}
.stat-rejected {
  grid-area: rejected;
  border: 2px solid red !important;
}
.stat-pending {
  grid-area: pending;
  border: 2px solid orange !important;
}
.no-history-msg {
  background: var(--secondary-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 50px;
  border-radius: 12px;
}
.ticket-history * {
  color: var(--text-color);
}
.ticket-history h3 {
  color: var(--tertiary-color) !important;
}
.ticket-history {
  max-height: 200px; /* yaklaşık 5 satır yüksekliğine göre ayarla */
  overflow-y: auto;
}
/* WebKit scrollbar özelleştirme */
.ticket-history::-webkit-scrollbar {
  width: 8px; /* scrollbar genişliği */
}

.ticket-history::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

.ticket-history::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

.ticket-history::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}
.ticket-history table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
.ticket-history table tr,
td,
tbody {
  border: 1px solid var(--tertiary-color);
  padding: 5px;
}

.ticket-history table thead tr {
  background-color: var(--tertiary-color);
}
.statistics-summary .stat-card {
  background-color: var(--tertiary-color);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}
@media (max-width: 900px) {
  .ticket-history * {
    font-size: small;
    max-height: 360px;
  }
}
@media (max-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "total approved "
      "rejected pending";
  }
  .stats-grid * {
    font-size: small;
  }
  .ticket-history * {
    font-size: 12px;
  }
  .stats-grid .stat-card {
    height: 40px;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .stats-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "total"
      " approved "
      "rejected"
      " pending";
  }
  .stats-grid .stat-card {
    height: 40px;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ticket-history table * {
    font-size: 11px;
  }
  .stats-grid * {
    font-size: 12px;
  }
  .ticket-history * {
    font-size: small;
  }
}
