/* src/app/components/admin-dashboard/admin-dashboard.css */
.admin-container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 240px;
}
.main-content {
  flex: 1; 
  display: flex; 
  flex-direction: column; 
  overflow: auto;
  border: 1px solid var(--text-color);
  height: 90%;
  padding: 5px;
}
@media (max-width: 982px) {
  .sidebar {
    display: none;
  }
}
